openapi: 3.0.1
info:
  title: Basic Calculator
  description: Arithmetics is just a call away!
  version: '1.0'
servers:
  - url: https://calcapi.cloudapp.net/api
paths:
  /add:
    get:
      summary: Add two integers
      description: Produces a sum of two numbers.
      operationId: 6039847eb409f8137cae0e72
      parameters:
        - name: a
          in: query
          description: First operand. Default value is <code>51</code>.
          required: true
          schema:
            enum:
              - ''
            type: string
            default: ''
        - name: b
          in: query
          description: Second operand. Default value is <code>49</code>.
          required: true
          schema:
            enum:
              - ''
            type: string
            default: ''
      responses:
        '200':
          description: 
  /sub:
    get:
      summary: Subtract two integers
      description: Produces a difference between two numbers.
      operationId: 6039847eb409f8137cae0e73
      parameters:
        - name: a
          in: query
          description: First operand. Default value is <code>51</code>.
          required: true
          schema:
            enum:
              - ''
            type: string
            default: ''
        - name: b
          in: query
          description: Second operand. Default value is <code>49</code>.
          required: true
          schema:
            enum:
              - ''
            type: string
            default: ''
      responses:
        '200':
          description: 
  /mul:
    get:
      summary: Multiply two integers
      description: Produces a product of two numbers.
      operationId: 6039847eb409f8137cae0e74
      parameters:
        - name: a
          in: query
          description: First operand. Default value is <code>51</code>.
          required: true
          schema:
            enum:
              - ''
            type: string
            default: ''
        - name: b
          in: query
          description: Second operand. Default value is <code>49</code>.
          required: true
          schema:
            enum:
              - ''
            type: string
            default: ''
      responses:
        '200':
          description: 
  /div:
    get:
      summary: Divide two integers
      description: Produces a quotient of two numbers.
      operationId: 6039847eb409f8137cae0e75
      parameters:
        - name: a
          in: query
          description: First operand. Default value is <code>51</code>.
          required: true
          schema:
            enum:
              - ''
            type: string
            default: ''
        - name: b
          in: query
          description: Second operand. Default value is <code>49</code>.
          required: true
          schema:
            enum:
              - ''
            type: string
            default: ''
      responses:
        '200':
          description: 
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
security:
  - apiKeyHeader: [ ]
  - apiKeyQuery: [ ]